.survey {
    height: 100vh;
    width: 100vw;
}

.item-frame {
    width: 360px;
}

.item {
    background: $white;
    border-radius: 0.5rem;
    z-index: 1;
}

.question {
    width: 100%;
    .footer a {
        font-size: 0.75rem;
    }
}

.required {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .switcho {
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        margin: -4px -8px;
    }
}

.endpoint {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $primary-color-light;
    margin: -13px auto;
    z-index: -1;
    position: relative;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: $primary-color-dark;
    }
    .plus {
        color: $white;
        position: absolute;
        top: 9px;
        left: 10.5px;
    }
}

.symbol {
    width: 16px;
    height: 16px;
    .check {
        border: 1px solid $grey-400;
        border-radius: 4px;
    }
    .radio {}
}