h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $grey-400;
    font-family: $font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: 3.157rem;
    font-weight: 500;
    line-height: 64px;
}

h2,
.h2 {
    font-size: 2.369rem;
    line-height: 48px;
}

h3,
.h3 {
    font-size: 1.777rem;
    line-height: 40px;
}

h4,
.h4 {
    font-size: 1.333rem;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 0.75rem;
    line-height: 17px;
    font-weight: 500;
}

h6,
.h6 {
    font-size: 0.675rem;
    line-height: 17px;
    font-weight: 500;
}

small,
.font_small {
    font-size: 0.75rem;
}

.font_medium {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
}

.font-weight-bold {
    font-weight: 500;
}

.with-bottom-border {
    padding-bottom: 1rem;
    border-bottom: 1px solid #E5E5E5;
}

a {
    font-size: 1rem;
    line-height: 16px;
}

a.small {
    font-size: 0.875rem;
}